.product{
    display: flex;
    border-bottom: 3px solid rgb(178, 235, 178);
    margin-right:7px;
}
.details{
    margin-left: 30px;
}

.pro{
 color: rgb(121, 46, 17);
}
.Cart{
    background-color:rgb(243, 176, 8);
    height: 35px;
    width: 200px;
    border: 2px solid rgb(221, 22, 22);
    border-radius: 10px;
    margin-bottom: 7px;
    cursor: pointer;
    
}
.rating{
    margin-left: 20px;
}
.icon-color{
    color: rgb(151, 69, 76);
}